@mixin width-and-height($width: none, $height: none) {
    @if $width {
        width: $width;
    }

    @if $height {
        height: $height;
    }
}

@mixin flex-container(
    $direction: row,
    $justify: center,
    $align: center,
    $gap: 0rem
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin reset-button {
    border: none;
    border-radius: 0.7rem;
    user-select: none;

    &:hover {
        cursor: pointer;
    }
}

@mixin opacity-on-hover($opacity: 0.5) {
    transition: all 300ms;

    &:hover {
        cursor: pointer;
        filter: opacity($opacity);
    }
}

@mixin from-color-to-color-on-hover($start-color, $end-color) {
    color: $start-color;
    transition: all 300ms;

    &:hover {
        cursor: pointer;
        color: $end-color;
    }
}
